In [99]:
import os #paths to file
import numpy as np # linear algebra
import pandas as pd # data processing
import warnings# warning filter


#ploting libraries
import matplotlib.pyplot as plt
import seaborn as sns

#feature engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
# from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler

from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest, f_classif, mutual_info_classif, chi2, VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.cross_decomposition import CCA

# Model Evaluation
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import roc_curve, roc_auc_score, f1_score
from matplotlib.colors import ListedColormap  # Add this import
from sklearn.metrics import roc_curve, roc_auc_score, auc
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


#train test split
from sklearn.model_selection import train_test_split

# models
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

import pickle
import joblib
#warning hadle
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

In [100]:
from myProject1.preprocessing_regression import data_processing_pipeline_regression
from myProject1.FeatureEngineering import feature_engineering_pipeline

from myProject1.feature_addition import create_features

In [101]:
data=pd.read_csv("LoanExport.csv")

In [103]:
data = data.drop(['EverDelinquent'], axis = 1)

In [34]:
# selected_row = data.iloc[0]

In [73]:
selected_row = data.iloc[0]

In [75]:
selected_row_df = pd.DataFrame(selected_row).T

In [77]:
selected_row_df

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52

In [105]:
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PropertyType,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,SF,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,SF,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,SF,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,SF,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,SF,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,54

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  MonthsDelinquent    291451 non-null  int64
 26  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(12), object(14)
memory usage: 60.0+ MB

In [107]:
# list of all the numeric columns and their categories

num = data.select_dtypes('number').columns.to_list()
print('NUMERICAL FEATURE')
print([data[numerical].value_counts() for numerical in num])


#list of all the categoric columnsand therir categories

cat = data.select_dtypes('object').columns.to_list()
print('CATERGORICAL FEATURE')
print([data[category].value_counts() for category in cat])

NUMERICAL FEATURE
[CreditScore
748    2567
734    2537
747    2456
753    2427
764    2419
       ...
391       1
396       1
445       1
462       1
849       1
Name: count, Length: 370, dtype: int64, FirstPaymentDate
199905    104071
199904     91152
199903     89401
199902      2300
199906      2083
           ...
201111         1
201303         1
200311         1
200403         1
200404         1
Name: count, Length: 66, dtype: int64, MaturityDate
202904    104210
202903     91059
202902     89304
202901      2282
202905      2067
           ...
202403         1
203304         1
203308         1
203210         1
203202         1
Name: count, Length: 96, dtype: int64, MIP
0     184511
25     42441
30     41869
12     13294
18      3005
17      2739
35      1290
36       748
29       640
20       497
14       166
27        66
22        45
6         32
33        24
32         9
28         9
15         7
50         7
47         7
26         7
24         6
16         5
1          5
13         4
52         3
10         3
37         3
55         1
21         1
23         1
19         1
45         1
7          1
9          1
11         1
4          1
Name: count, dtype: int64, Units
1    285598
2      4690
3       587
4       574
0         2
Name: count, dtype: int64, OCLTV
80     54126
95     37243
90     29646
75     17907
79      7317
       ...
98         8
101        5
0          5
104        4
110        3
Name: count, Length: 102, dtype: int64, DTI
0     17796
28    12818
36     9493
33     9378
35     9297
      ...
63      272
65      207
3       180
2       109
1        64
Name: count, Length: 66, dtype: int64, OrigUPB
240000    7035
100000    5474
80000     3707
90000     3555
120000    3549
          ...
9000         1
353000       1
497000       1
442000       1
420000       1
Name: count, Length: 375, dtype: int64, LTV
80     54503
95     37209
90     29343
75     17918
79      7329
       ...
6          9
98         6
0          5
103        1
99         1
Name: count, Length: 97, dtype: int64, OrigInterestRate
6.875     69884
6.750     46762
7.000     44927
7.125     23664
6.625     23568
          ...
6.883         1
6.100         1
8.070         1
11.125        1
5.800         1
Name: count, Length: 254, dtype: int64, OrigLoanTerm
360    289073
354       434
336       205
359       103
348        94
        ...
301         6
302         5
304         4
303         4
361         2
Name: count, Length: 61, dtype: int64, MonthsDelinquent
0      233788
1       23161
2        7572
3        3823
4        2459
        ...
153         1
178         1
159         1
163         1
171         1
Name: count, Length: 174, dtype: int64, MonthsInRepayment
50     8002
49     7976
52     7947
51     7753
53     7603
       ...
207     112
200     111
205     107
203     100
204      99
Name: count, Length: 212, dtype: int64]
CATERGORICAL FEATURE
[FirstTimeHomebuyer
N    184154
X     78015
Y     29282
Name: count, dtype: int64, MSA
X        39100
31084     9338
16974     8771
12060     6985
47644     6673
         ...
21940        3
49500        2
25020        1
10380        1
32420        1
Name: count, Length: 392, dtype: int64, Occupancy
O    276131
I      8734
S      6586
Name: count, dtype: int64, Channel
T    167670
R    123219
C       407
B       155
Name: count, dtype: int64, PPM
N    282125
X      5405
Y      3921
Name: count, dtype: int64, ProductType
FRM      291451
Name: count, dtype: int64, PropertyState
CA    43327
FL    19133
MI    16285
IL    13621
TX    13092
OH    11545
CO    10127
GA    10024
NC     9983
WA     9927
AZ     9248
VA     8096
NY     7913
PA     7738
NJ     7457
OR     6658
MA     6392
IN     6228
MD     5515
MO     5400
MN     5092
UT     4996
WI     4660
TN     4556
SC     4473
AL     4128
KY     3896
NV     3564
CT     3253
KS     2321
ID     2296
LA     2092
NM     2053
IA     1860
OK     1803
NE     1532
NH     1320
VT      945
AR      938
MS      935
MT      872
DE      838
ME      755
RI      722
PR      693
HI      609
WV      542
WY      496
DC      492
SD      376
ND      315
AK      245
GU       74
Name: count, dtype: int64, PropertyType
SF    244923
PU     27506
CO     18100
MH       723
LH       105
CP        72
X         22
Name: count, dtype: int64, PostalCode
94500    2582
30000    2374
48100    2166
85200    2155
48000    1976
         ...
79500       1
26600       1
41400       1
36900       1
41300       1
Name: count, Length: 1767, dtype: int64, LoanSeqNum
F199Q1268030    1
F199Q1262485    1
F199Q1138623    1
F199Q1220622    1
F199Q1155120    1
               ..
F199Q1021744    1
F199Q1098563    1
F199Q1049090    1
F199Q1170229    1
F199Q1220923    1
Name: count, Length: 291451, dtype: int64, LoanPurpose
P    123404
N    110036
C     58011
Name: count, dtype: int64, NumBorrowers
2     187335
1     103777
X        339
Name: count, dtype: int64, SellerName
Ot    76943
CO    34479
FL    25573
FI    24581
ST    22243
NO    16184
OL     7776
PR     7365
BA     7093
GM     6566
BI     6407
G      4734
CH     4599
CR     4459
FT     4105
WA     3139
AC     3076
HO     2970
PN     2407
RE     1758
Name: count, dtype: int64, ServicerName
Other servicers         64043
COUNTRYWIDE             31142
BANKOFAMERICANA         29481
WASHINGTONMUTUALBANK    22626
CHASEMANHATTANMTGECO    14791
ABNAMROMTGEGROUPINC     14369
WELLSFARGOHOMEMORTGA    13960
GMACMTGECORP            11560
BAMORTGAGELLC           11559
CHASEMTGECO             10109
NATLCITYMTGECO           9940
WELLSFARGOBANKNA         9460
JPMORGANCHASEBANKNA      7723
FTMTGESERVICESINC        7126
SUNTRUSTMORTGAGEINC      6680
CITIMORTGAGEINC          6529
PRINCIPALRESIDENTIAL     6335
CHASEHOMEFINANCELLC      5399
HOMESIDELENDINGINC       4508
FIFTHTHIRDBANK           4111
Name: count, dtype: int64]

In [108]:
data.isnull().sum()

CreditScore               0
FirstPaymentDate          0
FirstTimeHomebuyer        0
MaturityDate              0
MSA                       0
MIP                       0
Units                     0
Occupancy                 0
OCLTV                     0
DTI                       0
OrigUPB                   0
LTV                       0
OrigInterestRate          0
Channel                   0
PPM                       0
ProductType               0
PropertyState             0
PropertyType              0
PostalCode                0
LoanSeqNum                0
LoanPurpose               0
OrigLoanTerm              0
NumBorrowers              0
SellerName            24994
ServicerName              0
MonthsDelinquent          0
MonthsInRepayment         0
dtype: int64

In [109]:
data = data_processing_pipeline_regression.fit_transform(data)

In [110]:
data.isnull().sum()

FirstPaymentDate          0
FirstTimeHomebuyer        0
MaturityDate              0
MSA                       0
MIP                       0
Units                     0
Occupancy                 0
OCLTV                     0
DTI                       0
OrigUPB                   0
OrigInterestRate          0
Channel                   0
PPM                       0
ProductType               0
PropertyState             0
PropertyType              0
PostalCode                0
LoanSeqNum                0
LoanPurpose               0
OrigLoanTerm              0
NumBorrowers              0
SellerName                0
ServicerName              0
MonthsDelinquent          0
MonthsInRepayment         0
credit_bins               0
LTV_bins                  0
MonthsInRepayment_bins    0
dtype: int64

In [111]:
data

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,...,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,MonthsDelinquent,MonthsInRepayment,credit_bins,LTV_bins,MonthsInRepayment_bins
0,199902,N,202901,16974,25,1,O,89,27,117000,...,P,360,2,FL,WASHINGTONMUTUALBANK,0,52,Poor,High,16 - 20 yrs
1,199902,N,202901,19740,0,1,O,73,17,109000,...,N,360,1,FT,CHASEHOMEFINANCELLC,0,144,Poor,High,16 - 20 yrs
2,199902,N,202901,29940,0,1,O,75,16,88000,...,N,360,2,FL,WASHINGTONMUTUALBANK,0,67,Poor,High,16 - 20 yrs
3,199902,N,202901,31084,0,1,O,76,14,160000,...,N,360,2,GM,GMACMTGECORP,0,35,Poor,High,16 - 20 yrs
4,199902,N,202901,35644,0,1,O,78,18,109000,...,N,360,2,GM,GMACMTGECORP,0,54,Poor,High,16 - 20 yrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291446,199903,N,202902,37964,0,1,O,60,32,90000,...,N,360,2,Ot,Other servicers,0,12,Excellent,High,8 - 12 yrs
291447,200210,N,202904,35644,0,1,O,73,0,267000,...,P,319,2,Ot,Other servicers,0,53,Excellent,High,16 - 20 yrs
291448,200304,N,202904,42044,0,1,O,73,31,87000,...,N,313,1,Ot,Other servicers,0,38,Excellent,High,16 - 20 yrs
291449,199904,N,202903,37964,0,1,I,80,54,88000,...,P,360,2,Ot,Other servicers,0,32,Excellent,High,16 - 20 yrs
291450,199903,N,202902,37964,0,1,O,47,29,70000,...,P,360,2,Ot,Other servicers,0,29,Excellent,Medium,16 - 20 yrs

In [112]:
data = create_features(data)

In [113]:
data.head()

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,...,MonthlyInstallment,CurrentUPB,MonthlyIncome,Prepayment,Totalpayment,InterestAmount,ActualPayments,Prepayments,ScheduledPayments,PPR
0,199902,N,202901,16974,25,1,O,89,27,117000,...,756,111758,2800,1400,272160,155160,39312,1,38556,-0.006765
1,199902,N,202901,19740,0,1,O,73,17,109000,...,687,94830,4041,2020,247320,138320,98928,2,97554,-0.014489
2,199902,N,202901,29940,0,1,O,75,16,88000,...,576,83015,3600,1800,207360,119360,38592,3,36864,-0.020816
3,199902,N,202901,31084,0,1,O,76,14,160000,...,1047,155275,7478,3739,376920,216920,36645,3,33504,-0.020229
4,199902,N,202901,35644,0,1,O,78,18,109000,...,731,104253,4061,2030,263160,154160,39474,2,38012,-0.014024

In [115]:
data

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,...,MonthlyInstallment,CurrentUPB,MonthlyIncome,Prepayment,Totalpayment,InterestAmount,ActualPayments,Prepayments,ScheduledPayments,PPR
0,199902,N,202901,16974,25,1,O,89,27,117000,...,756,111758,2800,1400,272160,155160,39312,1,38556,-0.006765
1,199902,N,202901,19740,0,1,O,73,17,109000,...,687,94830,4041,2020,247320,138320,98928,2,97554,-0.014489
2,199902,N,202901,29940,0,1,O,75,16,88000,...,576,83015,3600,1800,207360,119360,38592,3,36864,-0.020816
3,199902,N,202901,31084,0,1,O,76,14,160000,...,1047,155275,7478,3739,376920,216920,36645,3,33504,-0.020229
4,199902,N,202901,35644,0,1,O,78,18,109000,...,731,104253,4061,2030,263160,154160,39474,2,38012,-0.014024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291446,199903,N,202902,37964,0,1,O,60,32,90000,...,596,89112,1862,931,214560,124560,7152,1,6556,-0.006688
291447,200210,N,202904,35644,0,1,O,73,0,267000,...,1736,249992,1736,868,553784,286784,92008,0,92008,0.000000
291448,200304,N,202904,42044,0,1,O,73,31,87000,...,531,82360,1712,856,166203,79203,20178,1,19647,-0.006447
291449,199904,N,202903,37964,0,1,I,80,54,88000,...,583,85676,1079,809,209880,121880,18656,1,18073,-0.006805
291450,199903,N,202902,37964,0,1,O,47,29,70000,...,463,68347,1596,798,166680,96680,13427,1,12964,-0.006774

In [116]:
X = data.drop(columns=['PPR'], axis = 1)
Y = data.filter(items=['PPR'])

In [117]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 80)

In [118]:
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline, FeatureUnion

In [119]:
final_pipeline = Pipeline([
    ('feature_engineering', feature_engineering_pipeline),
    ('scaler', MinMaxScaler()),
    ('model', LinearRegression())
])

# Fit the final pipeline
final_pipeline.fit(x_train, y_train)

Pipeline(steps=[('feature_engineering',
                 Pipeline(steps=[('label_encoding',
                                  LabelEncoderTransformer(columns=['NumBorrowers',
                                                                   'credit_bins',
                                                                   'LTV_bins',
                                                                   'MonthsInRepayment_bins'])),
                                 ('one_hot_encoding',
                                  OneHotEncoderTransformer(columns=['ServicerName',
                                                                    'SellerName',
                                                                    'PropertyState',
                                                                    'MSA',
                                                                    'FirstTimeHomebuyer',
                                                                    'Channel',
                                                                    'PropertyType',
                                                                    'LoanPurpose'])),
                                 ('remaining_features',
                                  RemainingFeaturesTransformer())])),
                ('scaler', MinMaxScaler()), ('model', LinearRegression())])

In [120]:
print('pipeline model score for training data is',final_pipeline.score(x_train, y_train)*100)
print('pipeline model score for testing data is',final_pipeline.score(x_test, y_test)*100)

pipeline model score for training data is 99.71115741486263
pipeline model score for testing data is 99.68605560480836

In [121]:
def evaluate_regression_model(y_pred, y_test):
    # Split the data into training and testing sets


    # Train the regression model on the training data

    # Make predictions on the test data

    # Calculate evaluation metrics
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)

    # Create a DataFrame to display the results
    evaluation_results = pd.DataFrame({
        'Metric': ['Mean Absolute Error (MAE)', 'Mean Squared Error (MSE)', 'Root Mean Squared Error (RMSE)', 'R-squared (R2)'],
        'Value': [mae, mse, rmse, r2]
    })

    return evaluation_results

In [128]:
P = {'CreditScore': 0, 'FirstPaymentDate': 199902, 'FirstTimeHomebuyer': 'N', 'MaturityDate': 202901, 'MSA': '16974', 'MIP': 25, 'Units': 1, 'Occupancy': 'O', 'OCLTV': 89, 'DTI': 27, 'OrigUPB': 117000, 'LTV': 89, 'OrigInterestRate': 6.75, 'Channel': 'T', 'PPM': 'N', 'ProductType': 'FRM', 'PropertyState': 'IL', 'PropertyType': 'SF', 'PostalCode': '60400', 'LoanSeqNum': 'F199Q1268030', 'LoanPurpose': 'P', 'OrigLoanTerm': 360, 'NumBorrowers': '2', 'SellerName': 'FL', 'ServicerName': 'WASHINGTONMUTUALBANK', 'MonthsDelinquent': 0, 'MonthsInRepayment': 52}

df = pd.DataFrame(P, index=[0])

In [129]:
selected_row = data_processing_pipeline_regression.fit_transform(df)
selected_row = create_features(selected_row)

In [130]:
selected_row = create_features(selected_row)
#

In [132]:
selected_row = selected_row.drop(['PPR'], axis = 1)

In [133]:
predicted_v = final_pipeline.predict(selected_row)

In [134]:
predicted_v

array([[-0.00789642]])

In [125]:
predicted_v = final_pipeline.predict(x_test)
mse = mean_squared_error(y_test, predicted_v)

print(f"Mean Squared Error: {mse}")

Mean Squared Error: 1.532471075369487e-05

In [126]:
y_pred = final_pipeline.predict(x_test)
evaluate_regression_model(y_pred, y_test)

                           Metric     Value
0       Mean Absolute Error (MAE)  0.001441
1        Mean Squared Error (MSE)  0.000015
2  Root Mean Squared Error (RMSE)  0.003915
3                  R-squared (R2)  0.996861

In [127]:
# joblib.dump(final_pipeline,'Logistic_Regression.pkl')
import pickle
pickle.dump(final_pipeline,open('RegressionModel.pkl','wb'))